@media all and (min-width: 28.125em) {
  body:after {
    content: "mini";
    display: none; } }

@media all and (min-width: 31.25em) {
  body:after {
    content: "tablet";
    display: none; } }

@media all and (min-width: 60em) {
  body:after {
    content: "widescreen";
    display: none; } }
